.content {
  width: 85%;
  height: 100%;
  min-height: 699px;
  background: white;
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  text-align: center;

  &_wrapper {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    padding: 10px 40px 10px 40px;
  }

  &_btns {
    width: 77%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 190px;
  }

  &_font {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #181818;
    user-select: none;
  }
}
