.form {
    width: 800px;
    height: 800px;
    background: white;
    position: fixed;
    top: 80px;
    left: 540px;
    transition-property: top;
    transition-duration: 2s;
    border: 2px solid #fe5f1e;
    border-radius: 10px;
    z-index: 999;
  }
  
  .blur {
    filter: blur(2px);
  }
  
  .form__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 278px;
  }
  
  .form__heading {
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }
  
  .form__wrapper {
    margin: 0 auto;
    padding: 10px 40px 10px 40px;
  }
  
  .form__content {
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  
  .add_photo {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .add_photo__bottom {
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .add_photo__bottom_label {
    display: flex;
    padding-top: 2px;
  }
  
  .add_photo__bottom_input {
    display: flex;
  }
  
  .add_photo_input_text {
    border: 1px solid #fe5f1e;
    border-radius: 5px;
    height: 30px;
    padding-left: 15px;
  }
  
  .add_categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .add_categories__bottom {
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .add_categories__bottom_label {
    display: flex;
    padding-top: 2px;
  }
  
  .add_categories__bottom_input {
    display: flex;
  }
  
  .add_categories_input_text {
    border: 1px solid #fe5f1e;
    border-radius: 5px;
    height: 30px;
    padding-left: 15px;
  }
  
  .add_name_pizza {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .add_name_pizza__bottom {
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .add_name_pizza__bottom_label {
    display: flex;
    padding-top: 2px;
  }
  
  .add_name_pizza__bottom_input {
    display: flex;
  }
  
  .add_name_pizza_input_text {
    border: 1px solid #fe5f1e;
    border-radius: 5px;
    height: 30px;
    padding-left: 15px;
  }
  
  .add_price {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
    align-items: center;
  }
  
  .add_price__bottom {
    display: flex;
    width: 50%;
    padding-top: 20px;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .add_price__bottom_label {
    display: flex;
    padding-top: 2px;
  }
  
  .add_price__bottom_input {
    display: flex;
  }
  
  .add_price_input_text {
    border: 1px solid #fe5f1e;
    border-radius: 5px;
    height: 30px;
    padding-left: 15px;
  }
  
  .add_price__bottom_input_span {
    padding-left: 5px;
    padding-top: 5px;
  }
  
  .ingredients {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
    align-items: center;
  }
  
  .ingredients__bottom {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .ingredients__bottom_label {
    display: flex;
    padding-top: 2px;
    margin: 0 auto;
  }
  
  .ingredients__bottom_textarea {
    display: flex;
    padding-top: 15px;
  }
  
  .ingredients__bottom_textarea_item {
    border: 1px solid #fe5f1e;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 15px;
  }
  
  .btn_submit {
    display: flex;
    margin: 0 auto;
    padding-top: 25px;
    align-items: center;
  }
  
  .icon {
   display: flex;

   &:hover {
     cursor: pointer;
     color: #f24701;
     transition: color 0.3s ease-in-out;

   }

   &:active {
    color: #6e1f00ee;
    transform: translateY(1px);
    transition: color 0.15s ease-in-out;

  }

  }

  //font

  .header__logo_description_font {
    font-size: 16px;
    line-height: 19px;
    color: #7B7B7B;
    user-select: none;
  }

  .list_item_font {
    font-weight: bold;
    user-select: none;
  }

  .button {
    display: inline-block;
    background-color: #fe5f1e;
    color: #fff;
    border-radius: 30px;
    padding: 15px 30px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border: 1px solid transparent;
    user-select: none;
  
    &:hover {
      background-color: #f24701;
    }
  
    &:active {
      background-color: #de4101;
      transform: translateY(1px);
    }
  }

  .button_font {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }

  //btn close

  .btn_form_close {
    display: flex;
    margin: 11px;
  }