@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

// header

.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: column;
}

.header__logo_top {
  display: flex;
  flex-direction: row;
}

.header__logo_img {
  display: flex;
}

.header__logo_text {
  display: flex;
  padding-left: 10px;
}

.header__logo_description {
  display: flex;
  padding-top: 5px;
}

// form search

.block_search {
  display: flex;
}

.form_search {
  display: inline-block;
  border-bottom: 1px solid;
}
.form_search_input {
  all: unset;
}

// /form search

.block_buttons {
  width: 360px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.block_buttons_bascet {
  display: flex;
}

.button {
  display: inline-block;
  background-color: #fe5f1e;
  color: #fff;
  border-radius: 30px;
  padding: 15px 30px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
  user-select: none;

  &:hover {
    background-color: #f24701;
  }

  &:active {
    background-color: #de4101;
    transform: translateY(1px);
  }

}

.button__delimiter {
  width: 1px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 14px;
  margin-right: 14px;
}
  
.block_buttons_authorization {
  display: flex;
  padding-left: 30px;
}

.button_content {
  display: flex;
  align-items: center;
  flex-direction: row;
}

// /header

//main 

.content  {
  margin: 0 auto;
  width: 80%;
  padding: 40px 0;
}

.content__container {
  width: 90%;
  margin: 0 auto;
}

.container__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories {
  display: flex;
}

.categories_list {
  display: flex;
  flex-direction: row;
}

.categories_list_item {
  background-color: #f9f9f9;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  user-select: none;

  &:hover {
    background-color: #f4f4f4;
  }

  &:active {
    background-color: #ececec;
  }

}

.list_item_active {
  background-color: #282828;
  color: #fff;
  cursor: auto;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  transition: background-color 0.1s ease-in-out;
  user-select: none;

  :hover {
    background-color: #282828;
  }

}

.sort {
  position: relative;
}

.sort_items {
  display: flex;
  align-items: center;
}

.sort_items_padd {
  padding-left: 10px;
}

.sort__popup {
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
}

.sort__popup_list {
  overflow: hidden;
}

.sort__popup_list_item {
  padding: 12px 20px;
  cursor: pointer;

  &:hover {
    background: rgba(254, 95, 30, 0.05);
    color: #FE5F1E;
  }

}

.sort__popup_list_item_active {
  background: rgba(254, 95, 30, 0.05);
  color: #FE5F1E;
  cursor: auto;
  user-select: none;
}

.content__title {
  display: flex;
  margin: 35px 0;
  flex-direction: column;
  padding-top: 20px;
}

.content__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}

// pizza__block

.pizza__block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;
}

.pizza__block_image {
  width: 260px;
  cursor: pointer;
  padding-bottom: 10px;
  transition: 0.5s;

  &:hover {
    padding-bottom: 5px;
    padding-top: 5px;
    transition: all 0.5s ease;
  }

}

.pizza__block_heading {
  padding-bottom: 10px;
}

.pizza__block__content {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-direction: column;
  padding: 6px;
}

.pizza__block_list {
  display: flex;
  flex: 1;
}

.pizza__block_list_item {
  padding: 8px;
  flex: 1;
  cursor: pointer;
  user-select: none;

  &:hover {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  }

}

.pizza__block_list_item_active {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}

.pizza__block_list2 {
  display: flex;
  flex: 1;
  padding-top: 5px;
}

.pizza__block__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.pizza__block_price {
  display: flex;
  padding-bottom: 5px;
  padding-top: 2px;
}

.pizza__block__bottom_btn {
  display: flex;
}

.button__add {
  width: 155px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #EB5A1E;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background: #EB5A1E;
  }

  &:hover .button__add_plus {
    background-image: url('../img/svg/plus_white.svg');
  }

  &:hover .button__add_span_font {
    color: #fff;
  }

  &:hover .button__add_i {
  background-color: #fff;
  }

  &:hover .button__add_i_font {
    color: #EB5A1E;
  }

  &:active {
    background-color: #de4101;
    transform: translateY(1px);
  }

}

.button__add_plus {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('../img/svg/plus.svg');
  background-repeat: no-repeat;
}

.button__add_span {
  display: inline-block;
  padding-left: 7px;
}

.button__add_i {
  display: inline-block;
  border-radius: 30px;
  background-color: #fe5f1e;
  width: 22px;
  height: 22px;
  line-height: 22px;
  position: relative;
  top: -1px;
  left: 3px;
}

/* footer */

.footer {
  width: 100%;
  border-top: 1px solid #f6f6f6;
  background-color: rgb(24, 24, 24);
}

.footer__content {
  padding: 40px 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.footer__logo {
  width: 20%;
  display: flex;
  cursor: pointer;
}

.footer__logo:hover {
  padding-top: 2px;
}

.footer__logo > img {
  margin-right: 15px;
}

.footer__logo > h2 {
  color: rgb(133, 133, 133);
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 800;
}

.footer__content__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-cont-l-item {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.footer-cont-l-item:hover {
  font-size: 21px;
  color: #fe5f1e;
}