@import url("./fonts.css");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__logo_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__logo_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

.header__logo_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
}

.block_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form_search {
  display: inline-block;
  border-bottom: 1px solid;
}

.form_search_input {
  all: unset;
}

.block_buttons {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.block_buttons_bascet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  display: inline-block;
  background-color: #fe5f1e;
  color: #fff;
  border-radius: 30px;
  padding: 15px 30px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button:hover {
  background-color: #f24701;
}

.button:active {
  background-color: #de4101;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.button__delimiter {
  width: 1px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 14px;
  margin-right: 14px;
}

.block_buttons_authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
}

.button_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container1024 {
  display: none;
}

.content {
  margin: 0 auto;
  width: 80%;
  padding: 40px 0;
}

.content__container {
  width: 90%;
  margin: 0 auto;
}

.container__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.categories_list_item {
  background-color: #f9f9f9;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.categories_list_item:hover {
  background-color: #f4f4f4;
}

.categories_list_item:active {
  background-color: #ececec;
}

.list_item_active {
  background-color: #282828;
  color: #fff;
  cursor: auto;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.list_item_active :hover {
  background-color: #282828;
}

.sort {
  position: relative;
}

.sort_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort_items_padd {
  padding-left: 10px;
}

.sort__popup {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
  cursor: pointer;
}

.sort__popup_list {
  overflow: hidden;
}

.sort__popup_list_item {
  padding: 12px 20px;
  cursor: pointer;
}

.sort__popup_list_item:hover {
  background: rgba(254, 95, 30, 0.05);
  color: #fe5f1e;
}

.sort__popup_list_item_active {
  background: rgba(254, 95, 30, 0.05);
  color: #fe5f1e;
  cursor: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 50px;
}

.pizza__block {
  width: 340px;
  text-align: center;
  margin-bottom: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

.pizza__block_image {
  width: 260px;
  min-height: 306px;
  cursor: pointer;
  padding-bottom: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pizza__block_image:hover {
  padding-bottom: 5px;
  padding-top: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.pizza__block_heading {
  min-height: 34px;
  padding-bottom: 10px;
}

.pizza__block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6px;
}

.pizza__block_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pizza__block_list_item {
  padding: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pizza__block_list_item:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

.pizza__block_list_item_active {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}

.pizza__block_list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 5px;
}

.pizza__block__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.pizza__block_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
  padding-top: 2px;
}

.pizza__block__bottom_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__add {
  width: 155px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #eb5a1e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  padding-top: 6px;
}

.button__add:hover {
  background: #eb5a1e;
}

.button__add:hover .button__add_plus {
  background-image: url("../img/svg/plus_white.svg");
}

.button__add:hover .button__add_span_font {
  color: #fff;
}

.button__add:hover .button__add_i {
  background-color: #fff;
}

.button__add:hover .button__add_i_font {
  color: #eb5a1e;
}

.button__add:active {
  background-color: #de4101;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.button__add_plus {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../img/svg/plus.svg");
  background-repeat: no-repeat;
}

.button__add_span {
  display: inline-block;
  padding-left: 7px;
}

.button__add_i {
  display: inline-block;
  border-radius: 30px;
  background-color: #fe5f1e;
  width: 22px;
  height: 22px;
  line-height: 22px;
  position: relative;
  top: 1px;
  left: 3px;
}

/* footer */
.footer {
  width: 100%;
  border-top: 1px solid #f6f6f6;
  background-color: #181818;
}

.footer__content {
  padding: 40px 0;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.footer__logo:hover {
  padding-top: 2px;
}

.footer__logo > img {
  margin-right: 15px;
}

.footer__logo > h2 {
  color: #858585;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 800;
}

.footer__content__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-cont-l-item {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.footer-cont-l-item:hover {
  color: #fe5f1e;
}

.block_buttons_add_pizza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form {
  width: 800px;
  height: 800px;
  background: white;
  position: fixed;
  top: -1500px;
  left: 540px;
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  border: 2px solid #fe5f1e;
  border-radius: 10px;
  z-index: 999;
}

.blur {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-left: 278px;
}

.form__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
}

.form__wrapper {
  margin: 0 auto;
  padding: 10px 40px 10px 40px;
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add_photo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add_photo__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.add_photo__bottom_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
}

.add_photo__bottom_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add_photo_input_text {
  border: 1px solid #fe5f1e;
  border-radius: 5px;
  height: 30px;
  padding-left: 15px;
}

.add_categories {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.add_categories__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.add_categories__bottom_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
}

.add_categories__bottom_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add_categories_input_text {
  border: 1px solid #fe5f1e;
  border-radius: 5px;
  height: 30px;
  padding-left: 15px;
}

.add_name_pizza {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.add_name_pizza__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.add_name_pizza__bottom_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
}

.add_name_pizza__bottom_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add_name_pizza_input_text {
  border: 1px solid #fe5f1e;
  border-radius: 5px;
  height: 30px;
  padding-left: 15px;
}

.add_price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add_price__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.add_price__bottom_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
}

.add_price__bottom_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add_price_input_text {
  border: 1px solid #fe5f1e;
  border-radius: 5px;
  height: 30px;
  padding-left: 15px;
}

.add_price__bottom_input_span {
  padding-left: 5px;
  padding-top: 5px;
}

.ingredients {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ingredients__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ingredients__bottom_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
  margin: 0 auto;
}

.ingredients__bottom_textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

.ingredients__bottom_textarea_item {
  border: 1px solid #fe5f1e;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 15px;
}

.btn_submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-btn-2 {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.cl-btn-2 div {
  cursor: pointer;
  position: relative;
  height: 68px;
  width: 50px;
}

.cl-btn-2 .leftright {
  height: 3px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #fe5f1e;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.cl-btn-2 .rightleft {
  height: 3px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #fe5f1e;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.cl-btn-2 .close-btn {
  margin: 40px 0 0 -15px;
  position: absolute;
  color: #fe5f1e;
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.cl-btn-2 div:hover .leftright {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #000;
}

.cl-btn-2 div:hover .rightleft {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000;
}

.cl-btn-2 div:hover .close-btn {
  opacity: 1;
}

.btn_del_pizza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.btn_del_pizza div {
  cursor: pointer;
  position: relative;
  height: 68px;
  width: 50px;
}

.btn_del_pizza .leftright {
  height: 3px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #fe5f1e;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn_del_pizza .rightleft {
  height: 3px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #fe5f1e;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn_del_pizza .close-btn {
  margin: 40px 0 0 -43px;
  position: absolute;
  color: #fe5f1e;
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.btn_del_pizza div:hover .leftright {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #000;
}

.btn_del_pizza div:hover .rightleft {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000;
}

.btn_del_pizza div:hover .close-btn {
  opacity: 1;
}

@media (max-width: 1440px) {
  .content {
    width: 82%;
  }
  .form {
    left: 340px;
  }
}

@media (max-width: 1280px) {
  .categories_list_item {
    padding: 13px 16px;
  }
  .list_item_active {
    padding: 13px 30px;
  }
  .pizza__block {
    width: 460px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .form {
    left: 240px;
  }
}

@media (max-width: 1024px) {
  .block_buttons_add_pizza {
    display: none;
  }
  .container1024 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 19px;
    width: 65%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 54px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block_buttons1024 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .block_buttons {
    display: none;
  }
  .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .block_search {
    margin: 0 auto;
  }
  .content {
    width: 100%;
  }
  .content__container {
    width: 92%;
  }
  .footer__logo {
    width: 25%;
  }
}
/*# sourceMappingURL=app.css.map */