/* @font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Black.eot");
  src: local("./fonts/Proxima Nova Black"), local("ProximaNova-Black"),
    url("./fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProximaNova-Black.woff") format("woff"),
    url("./fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Bold.eot");
  src: local("./fonts/Proxima Nova Bold"), local("ProximaNova-Bold"),
    url("./fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProximaNova-Bold.woff") format("woff"),
    url("./fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Regular.eot");
  src: local("./fonts/Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("./fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProximaNova-Regular.woff") format("woff"),
    url("./fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Extrabld.eot");
  src: local("./fonts/Proxima Nova Extrabold"), local("ProximaNova-Extrabld"),
    url("./fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProximaNova-Extrabld.woff") format("woff"),
    url("./fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
} */

.header__logo_font {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #181818;
  user-select: none;
}

.header__logo_description_font {
  font-size: 16px;
  line-height: 19px;
  color: #7B7B7B;
  user-select: none;
}

.button_font {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.list_item_font {
  font-weight: bold;
  user-select: none;
}

.sort_item_b_font {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  color: #2C2C2C;
}

.sort_item_b_active_font {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  color: #FE5F1E;
  user-select: none;
  cursor: pointer;
}

.content__title_h2_font {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #000000;
}

.pizza__block_heading_font {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.pizza__block_list_item_font {
  font-weight: 600;
  font-size: 14px;
}

.block__price_font {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
  color: #000000;
}

.button__add_pizza_span_font {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #EB5A1E;
}

.button__add_span_font {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #EB5A1E;
}

.button__add_i_font {
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: #FFFFFF;
}