
.content {
    margin: 0 auto;
    width: 80%;
    padding: 40px 0;
  }
  
  .content__container {
    width: 90%;
    margin: 0 auto;
  }
  
  .container__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .categories {
    display: flex;
  }
  
  .categories_list {
    display: flex;
    flex-direction: row;
  }
  
  .categories_list_item {
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    user-select: none;
  
    &:hover {
      background-color: #f4f4f4;
    }
  
    &:active {
      background-color: #ececec;
    }
  }
  
  .list_item_active {
    background-color: #282828;
    color: #fff;
    cursor: auto;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    transition: background-color 0.1s ease-in-out;
    user-select: none;
  
    :hover {
      background-color: #282828;
    }
  }
  
  .sort {
    position: relative;
  }
  
  .sort_items {
    display: flex;
    align-items: center;
  }
  
  .sort_items_padd {
    padding-left: 10px;
  }
  
  .sort__popup {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;
    cursor: pointer;
  }
  
  .sort__popup_list {
    overflow: hidden;
  }
  
  .sort__popup_list_item {
    padding: 12px 20px;
    cursor: pointer;
  
    &:hover {
      background: rgba(254, 95, 30, 0.05);
      color: #fe5f1e;
    }
  }
  
  .sort__popup_list_item_active {
    background: rgba(254, 95, 30, 0.05);
    color: #fe5f1e;
    cursor: auto;
    user-select: none;
  }
  
  .content__title {
    display: flex;
    margin: 35px 0;
    flex-direction: column;
    padding-top: 20px;
  }
  
  .content__items {
    display: flex;
    min-height: 600px;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 50px;
  }