
.content {
    margin: 0 auto;
    width: 80%;
    padding: 40px 0;
  }
  
  .content__container {
    width: 90%;
    margin: 0 auto;
  }
  
  .container__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  
  .content__title {
    display: flex;
    margin: 35px 0;
    flex-direction: column;
    padding-top: 20px;
  }
  
  .content__items {
    display: flex;
    min-height: 600px;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 50px;
  }