
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
