.basket__content {
  width: 100%;
  min-height: 699px;
  display: flex;
  flex-direction: column;
  padding: 0px 40px 0px 40px;
}

.heading__content {
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  flex-direction: row;
}

.icon {
  display: flex;
  padding-left: 10px;
}

.heading_font {
  font-weight: 800;
  font-size: 28px;
  line-height: 29px;
  color: #181818;
  user-select: none;
}

.description {
  display: flex;
  padding-top: 10px;
  margin: 0 auto;
  flex-direction: column;
}

.description_font {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145.4%;
  text-align: center;
  color: #777777;
}

.image__content {
  display: flex;
  margin: 0 auto;
  padding-top: 40px;
}

.image {
  background-repeat: no-repeat;
  background-image: url("../../assets/img/svg/basket.svg");
  width: 300px;
  height: 255px;
}

.button__content {
  display: flex;
  margin: 0 auto;
  padding-top: 70px;
}


