.sort {
  position: relative;

  &_content {
    display: flex;
    align-items: center;

    &_padd {
      padding-left: 10px;
    }
  }

  &_item_b_font {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    color: #2c2c2c;
    user-select: none;

    &_active {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.015em;
      color: #fe5f1e;
      user-select: none;
      cursor: pointer;
    }
  }
}
