.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 0;

  &_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_buttons {
    width: 420px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

a {
  text-decoration: none;
}
