.footer__logo {
    width: 20%;
    display: flex;
    user-select: none;
  }
  
  .footer__logo_img {
    margin-right: 15px;
  }
  
  .footer__logo_font {
    color: rgb(133, 133, 133);
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
  }