.block {
  display: flex;
  padding-top: 30px;
  width: 40%;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  height: 120px;

  &_font {
    font-size: 16px;
    line-height: 19px;
    color: #7b7b7b;
    user-select: none;
  }
}
