.footer {
    width: 100%;
    border-top: 1px solid #f6f6f6;
    background-color: rgb(24, 24, 24);
  }
  
  .footer__content {
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
  
  .footer__logo {
    width: 20%;
    display: flex;
    user-select: none;
  }
  
  .footer__logo_img {
    margin-right: 15px;
  }
  
  .footer__logo_font {
    color: rgb(133, 133, 133);
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
  }
  
  .footer__content__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .footer_cont_l_item {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  
  .footer_cont_l_item:hover {
    color: #fe5f1e;
  }