@import './assets/css/fonts.css';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

// form add pizza

.form {
  width: 800px;
  height: 800px;
  background: white;
  position: fixed;
  top: -1500px;
  left: 540px;
  transition-property: top;
  transition-duration: 2s;
  border: 2px solid #fe5f1e;
  border-radius: 10px;
  z-index: 999;
}

.blur {
  filter: blur(2px);
}

.form__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 278px;
}

.form__heading {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.form__wrapper {
  margin: 0 auto;
  padding: 10px 40px 10px 40px;
}

.form__content {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.add_photo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add_photo__bottom {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.add_photo__bottom_label {
  display: flex;
  padding-top: 2px;
}

.add_photo__bottom_input {
  display: flex;
}

.add_photo_input_text {
  border: 1px solid #fe5f1e;
  border-radius: 5px;
  height: 30px;
  padding-left: 15px;
}

.add_categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.add_categories__bottom {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.add_categories__bottom_label {
  display: flex;
  padding-top: 2px;
}

.add_categories__bottom_input {
  display: flex;
}

.add_categories_input_text {
  border: 1px solid #fe5f1e;
  border-radius: 5px;
  height: 30px;
  padding-left: 15px;
}

.add_name_pizza {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.add_name_pizza__bottom {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.add_name_pizza__bottom_label {
  display: flex;
  padding-top: 2px;
}

.add_name_pizza__bottom_input {
  display: flex;
}

.add_name_pizza_input_text {
  border: 1px solid #fe5f1e;
  border-radius: 5px;
  height: 30px;
  padding-left: 15px;
}

.add_price {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  align-items: center;
}

.add_price__bottom {
  display: flex;
  width: 50%;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.add_price__bottom_label {
  display: flex;
  padding-top: 2px;
}

.add_price__bottom_input {
  display: flex;
}

.add_price_input_text {
  border: 1px solid #fe5f1e;
  border-radius: 5px;
  height: 30px;
  padding-left: 15px;
}

.add_price__bottom_input_span {
  padding-left: 5px;
  padding-top: 5px;
}

.ingredients {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  align-items: center;
}

.ingredients__bottom {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-around;
}

.ingredients__bottom_label {
  display: flex;
  padding-top: 2px;
  margin: 0 auto;
}

.ingredients__bottom_textarea {
  display: flex;
  padding-top: 15px;
}

.ingredients__bottom_textarea_item {
  border: 1px solid #fe5f1e;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 15px;
}

.btn_submit {
  display: flex;
  margin: 0 auto;
  padding-top: 25px;
  align-items: center;
}

// btn close
.cl-btn-2 {
  margin: 10px;
  display: flex;
  justify-content: right;
}
.cl-btn-2 div {
  cursor: pointer;
  position: relative;
  height: 68px;
  width: 50px;
}
.cl-btn-2 .leftright {
  height: 3px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #fe5f1e;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}
.cl-btn-2 .rightleft {
  height: 3px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #fe5f1e;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}
.cl-btn-2 .close-btn {
  margin: 40px 0 0 -15px;
  position: absolute;
  color: #fe5f1e;
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  opacity: 0;
}
.cl-btn-2 div:hover .leftright {
  transform: rotate(-45deg);
  background-color: #000;
}
.cl-btn-2 div:hover .rightleft {
  transform: rotate(45deg);
  background-color: #000;
}
.cl-btn-2 div:hover .close-btn {
  opacity: 1;
}

//btn delete pizza
.btn_del_pizza {
  display: flex;
  justify-content: right;
}
.btn_del_pizza div {
  cursor: pointer;
  position: relative;
  height: 68px;
  width: 50px;
}
.btn_del_pizza .leftright {
  height: 3px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #fe5f1e;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}
.btn_del_pizza .rightleft {
  height: 3px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #fe5f1e;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}
.btn_del_pizza .close-btn {
  margin: 40px 0 0 -43px;
  position: absolute;
  color: #fe5f1e;
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  opacity: 0;
}
.btn_del_pizza div:hover .leftright {
  transform: rotate(-45deg);
  background-color: #000;
}
.btn_del_pizza div:hover .rightleft {
  transform: rotate(45deg);
  background-color: #000;
}
.btn_del_pizza div:hover .close-btn {
  opacity: 1;
}



