.header__logo {
    display: flex;
    flex-direction: column;
  }
  
  .header__logo_top {
    display: flex;
    flex-direction: row;
  }
  
  .header__logo_img {
    display: flex;
  }
  
  .header__logo_text {
    display: flex;
    padding-left: 10px;
  }
  
  .header__logo_description {
    display: flex;
    padding-top: 5px;
  }

  .header__logo_font {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #181818;
    user-select: none;
  }

  .header__logo_description_font {
    font-size: 16px;
    line-height: 19px;
    color: #7B7B7B;
    user-select: none;
  }