.logo {
  display: flex;
  flex-direction: column;

  &_top {
    display: flex;
    flex-direction: row;
  }

  &_img {
    display: flex;
  }

  &_text {
    display: flex;
    padding-left: 10px;
  }

  &_description {
    display: flex;
    padding-top: 5px;

    &_font {
      font-size: 16px;
      line-height: 19px;
      color: #7b7b7b;
      user-select: none;
    }
  }

  &_font {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #181818;
    user-select: none;
  }
}
